[submodule "3rd_party/ApexLib"]
	path = 3rd_party/ApexLib
	url = https://github.com/PredatorCZ/ApexLib.git
[submodule "3rd_party/zlib"]
	path = 3rd_party/zlib
	url = https://github.com/madler/zlib.git
